*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    overflow: hidden;
}

.container{
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-image{
    width: 50vw;
    height: 100%;
    background: linear-gradient(#00000090, #000000b9), url("https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif");
    background-position: center;
    background-size: contain;
    /* border-top-right-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
}
.side-image .labeled {
    background: #80808052;
    border: 2px solid grey;
    padding: 5px 20px;
    border-radius: 5px;
}
form.form, .form{
    background: #fff;
    padding: 24px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form.form, .form#registerForm{
    padding: 24px 50px;
}

header{
    width: 80%;
    margin: 20px auto;
    border-radius: 100px;
    background: #80808052;
}

label{
    display: block;
}

input.input, .input{
    border: 1px solid #0000006e;
    text-indent: 3px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
}

input.sub-input{
    height: 50px;
    border-radius: 0;
    box-shadow: none;
}

input.form-control:focus{
    box-shadow: none !important;
}

form button.btn, form button.btn:hover{
    background: #000;
    color: #fff;
    height: 50px;
    outline: none;
    margin-top: 2rem;
    border-radius: 5px;
}

#visibilityToggler, #visibilityToggler2{
    cursor: pointer;
}

.profile-card{
    box-shadow: 2px 3px 10px #8080802c;
    border: none;
    border-radius: 0px;
    width: 75%;
}

.profile-card .item{
    width: 100% !important;
}

.profile-card .initials{
    background: #80808052;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.logout-btn, .logout-btn:hover{
    background: red;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
}

@media (max-width: 767px) {
    form.form, .form, .profile-card{
        min-width: 350px;
    }
    .side-image{
        width: 100vw;
    }
    form.form, .form{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        width: 95%;
    }
    header{
        width: 90%;
    }
    form.form, .form#registerForm{
        padding: 24px 20px;
    }
}
@media (max-width: 991px) {
    form.form, .form#registerForm{
        padding: 24px 30px;
    }
}
